{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-12 m-auto pt-3 text-left">
    <h3>Categorias</h3>
</div>

<div class="col-12 m-auto pt-4">
    <form name="form" id="form" action="" enctype="multipart/form-data" method='post'>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="mt-5 mb-3">
            <button type="submit" class="btn btn-success">Salvar</button>
            <a href="{% url 'cadastros:categoria_list' %}" class="btn btn-danger ml-3">Cancelar</a>
        </div>
    </form>
</div>    

{% endblock %}
